<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/sass/bootstrap.min.css">
    <link rel="stylesheet" href="/sass/main.css">
    <link rel="icon" type="image/x-icon" href="/img/logos/favicon.ico">
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <%- include('./inc/header.ejs') %>
    <div class="container" style="margin-top: 62px;">
        <div class="row">
            <div class="col-lg-12">
                <%- include('./inc/messages.ejs') %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Log into Account</h3>
                        <hr />
                        <form method="POST" action="/users/login">
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-lg w-100">Log In</button>
                                </div>
                            </div>
                            <div class="row mb-3 text-center">
                                <div class="col">
                                    Or
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <a href="/users/signup" class="btn btn-success btn-lg w-100">Sign Up</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>